absl-py==0.8.1
aiocoap==0.3
aiodns==1.1.1
aiohttp==3.2.0
appnope==0.1.0
asn1crypto==0.24.0
astor==0.6.2
async-timeout==3.0.0
atari-py==0.2.6
attrs==18.1.0
autobahn==19.10.1
Automat==0.7.0
backcall==0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
baselines==0.1.5
bayesian-optimization==0.6.0
bert-embedding==1.0.1
binance==0.3
bleach==1.5.0
bokeh==1.3.4
boto3==1.9.229
botocore==1.12.229
cachetools==3.1.1
cchardet==2.1.4
ccxt==1.18.1210
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
chart-studio==1.0.0
Click==7.0
cloudpickle==1.2.2
coinbase==2.1.0
colorama==0.4.1
colorlover==0.3.0
constantly==15.1.0
cryptography==2.7
cufflinks==0.16
cycler==0.10.0
Cython==0.25.2
datapackage==1.10.0
dateparser==0.7.2
decorator==4.0.6
defusedxml==0.6.0
demjson==2.2.4
dill==0.3.0
Django==2.2.5
docutils==0.15.2
empath==0.89
entrypoints==0.3
env==0.1.0
et-xmlfile==1.0.1
evostra==2.5.2
fsspec==0.5.2
ftfy==5.6
future==0.16.0
gast==0.2.2
gin-config==0.2.1
gitdb2==2.0.5
GitPython==2.1.11
glfw==1.8.3
gluonnlp==0.6.0
gnureadline==6.3.3
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
graphviz==0.8.4
grpcio==1.11.0
gym==0.14.0
h5py==2.7.0
html5lib==0.9999999
hyperlink==19.0.0
idna==2.6
idna-ssl==1.0.1
ijson==2.5.1
image==1.5.27
imageio==2.5.0
imageio-ffmpeg==0.3.0
incremental==17.5.0
inflection==0.3.1
ipykernel==4.2.2
ipython==4.0.1
ipython-genutils==0.1.0
ipywidgets==4.1.1
isodate==0.6.0
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.8
jmespath==0.9.4
joblib==0.13.2
jsonlines==1.2.0
jsonpointer==2.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
langdetect==1.0.7
linear-tsv==1.1.0
lockfile==0.12.2
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.1
more-itertools==5.0.0
moviepy==1.0.0
mpi4py==3.0.2
-e git+https://github.com/openai/mujoco-py@0711ab58777a28aff847adbf05ba246a337908a0#egg=mujoco_py
multidict==4.3.1
mxnet==1.4.0
nbconvert==4.1.0
nbdime==1.0.5
nbformat==4.4.0
ndg-httpsclient==0.5.1
newsapi-python==0.2.5
nltk==3.2.2
notebook==4.0.6
numexpr==2.6.5
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.1.26
openpyxl==3.0.1
opt-einsum==3.1.0
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.4.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
Pillow==5.1.0
plotly==3.10.0
praw==6.3.1
prawcore==1.0.1
proglog==0.1.9
progressbar2==3.46.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.10.0
psaw==0.0.7
ptyprocess==0.5
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycares==3.0.0
pycparser==2.19
pycryptodome==3.9.0
pydotplus==2.0.2
pyenchant==2.0.0
pyglet==1.3.2
Pygments==2.0.2
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.0.7
pyrsistent==0.14.11
python-binance==0.7.4
python-dateutil==2.4.2
python-utils==2.3.0
pytz==2015.7
PyYAML==5.1
pyzmq==15.1.0
qtconsole==4.1.1
Quandl==3.4.8
regex==2019.8.19
requests==2.21.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986==1.3.2
rsa==4.0
s3fs==0.3.5
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.2.1
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sites==0.0.1
six==1.10.0
sklearn==0.0
smmap2==2.0.5
SQLAlchemy==1.3.11
sqlparse==0.3.0
stable-baselines==2.7.0
stochastic==0.4.0
tableschema==1.10.0
tabulator==1.29.0
tb-nightly==1.14.0a20190301
tensorboard==2.0.1
tensorflow==2.3.1
tensorflow-estimator==2.0.1
tensortrade==0.0.1a3
termcolor==1.1.0
terminado==0.5
testpath==0.4.2
textblob==0.15.3
tf-estimator-nightly==1.14.0.dev2019030115
torch==1.0.1.post2
torchvision==0.2.2.post3
tornado==4.3
tqdm==4.35.0
traitlets==4.3.3
treeinterpreter==0.2.2
Twisted==19.7.0
txaio==18.8.1
typing==3.6.6
typing-extensions==3.7.4
tzlocal==2.0.0
unicodecsv==0.14.1
update-checker==0.16
urllib3==1.24.3
vaderSentiment==3.2.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.11.2
xgboost==0.90
xlrd==1.2.0
yarl==1.2.4
zmq==0.0.0
zope.interface==4.6.0
